# Ignore build artifacts
build/
bin/
obj/
x64/

# Visual Studio specific
.vs/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# OS-specific
.DS_Store
Thumbs.db

# CMake-specific
CMakeFiles/
CMakeCache.txt
*.cmake

# Logs and temporary files
*.log
*.tmp
*.temp

# Other
*.exe
*.pdb
*.ilk
*.idb
*.suo
*.ncb
*.ipch
*.aps
*.pch
*.out
*.o

